﻿@using Modles
@model Flights

    @{
        ViewBag.Title = "Krairanje";
    }

<div> 
    
    <h1>@ViewBag.Title</h1>
    
    <div>
        @using (Html.BeginForm())
        { 
            <div>                           
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.FType)
                @Html.DropDownListFor(m => m.FType, Html.GetEnumSelectList(typeof(FlighType)))
                @Html.ValidationMessageFor(m => m.FType)
            </div>
            <div>
                <input type="submit" value="Save!" />
            </div>
        }

    </div>

</div>
@section footer
{
    <div>this is footer</div>
 }