﻿@model Flights
<tr>
    <td>
        <a href="/home/details/@Model.Id">Details</a>
        @Html.ActionLink("View", "Details", new { id = Model.Id })
        <a asp-action="Details" asp-route-id="@Model.Id">Detalji tag</a>
    </td>
    <td>@Model.Name</td>
</tr>