﻿@using Modles
@model Flights

@{
        ViewBag.Title = "Krairanje";
}

<div>

    <h1>@ViewBag.Title</h1>

    <div>
        <form asp-action="Create" asp-controller="Home" method="post">

            <div>
                <label asp-for="Name" />
                @*@Html.LabelFor(m => m.Name)*@
                <input type="text" asp-for="Name" placeholder="Name" />
                <span asp-validation-for="Name"></span>
                @*@Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)*@
            </div>
            <div>
                @Html.LabelFor(m => m.FType)
                @*@Html.DropDownListFor(m => m.FType, Html.GetEnumSelectList(typeof(FlighType)))*@
                <select asp-for="FType" asp-items="Html.GetEnumSelectList(typeof(FlighType))"></select>
                @Html.ValidationMessageFor(m => m.FType)
            </div>
            <div>
                <input type="submit" value="Save!" />
            </div>
        </form>

        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
            Back to list
        </a>

    </div>

</div>
@section footer
{
    <div>this is footer</div>
}