﻿@using Modles
@model Flights

<h1>@Model.Name</h1>

<div>
    Id: @Model.Id
</div>
<div>
    Name: @Html.DisplayFor(x => x.Name)
</div>
<div>
    Cuisine: @Model.FType
</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>