﻿@model ExampleApp.ViewModels.HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Flights</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>@Model.Message</h3>
    <table>
        @foreach (var flight in Model.Flights)
        {
            @*<tr>
                    <td>
                        <a href="/home/details/@flight.Id">Details</a>
                        @Html.ActionLink("View", "Details", new { id = flight.Id })
                        <a asp-action="Details" asp-route-id="@flight.Id">Detalji tag</a>
                    </td>
                    <td>@flight.Name</td>
                </tr>*@

            @Html.Partial("_FlightDetail",flight)

        }
        @Html.SubmitButton("aaaa")
        <environment names="Development">
            <cache expires-after="@TimeSpan.FromMinutes(10)">
                *last updated  @DateTime.Now.ToLocalTime()
            </cache>
        </environment>
        <environment names="Production">
            *last updated  @DateTime.Now.ToLocalTime()
        </environment>
    </table>
    @Html.ActionLink("Create", "Create")

</body>
</html>